* {
  margin: 0;
  padding: 0;
}

@viewport {
  width: 480px;
  zoom: 1;
}

header,
main,
footer,
nav,
aside,
section {
  display: block;
}

#wrapper-LO1 {
  width: 1000px;
  margin: 0px auto;
  position: relative;
  margin: 0px auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.header-LO1 {
  width: 100%;
  height: 388px;
  background-color: aquamarine;
  position: relative;
}

header div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 72.8%;
}

.ul-LO1 {
  background-color: pink;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

li a {
  display: block;
  height: 57px;
  line-height: 57px;
  font-size: 24px;
  color: #000000;
}
li a:hover {
  background-color: red;
}

.selected {
  background-color: red;
}
main {
  display: flex;
  background-color: #000000;
}

.main-LO1 {
  height: 491px;
}

main article {
  background-color: aquamarine;
}

.main-LO1-left {
  height: 100%;
  width: 27.2%;
  position: relative;
}

.main-LO1-left article {
  position: absolute;
  top: 24px;
  left: 28px;
  width: 93px;
  height: 33px;
  background-color: aquamarine;
}

.main-LO1-right {
  display: flex;
  position: relative;
  width: 72.8%;
}

.main-LO1-right article {
  margin-top: 31px;
}
.rectangle-2 {
  width: 335px;
  height: 389px;
}

.main-LO1-right .rectangle {
  margin-left: 25px;
}

.rectangle {
  width: 338px;
  height: 338px;
}

footer {
  height: 121px;
  background-color: darkgrey;
  width: 100%;
}

/**********************************************************************************************/
#wrapper-LO2 {
  width: 1400px;
  margin: 0px auto;
  position: relative;
  margin: 0px auto;
}

.header-LO2 {
  height: 192px;
  background-color: #000000;
}

.main-LO2 {
  height: 1687px;
}
.ul-LO2 li a {
  font-size: 30px;
  line-height: 134px;
  height: 134px;
  padding-left: 5px;
}
.main-LO2 nav {
  width: 243px;
  background-color: pink;
}

.main-center-section-LO2 {
  width: 818px;
}

.main-LO2-top {
  display: flex;
}

.main-LO2 {
  height: 1687px;
}

.main-LO2 aside {
  width: 339px;
  height: 100%;
  background-color: pink;
  position: relative;
}

.main-center-section-LO2 .rectangle {
  margin-left: 30px;
}

.main-LO2-bottom {
  margin-top: 120px;
  position: relative;
}
.rectangle.bottom {
  margin-top: 48px;
}

.rectangle.right {
  position: absolute;
  right: 82px;
  top: 217px;
}

.gray-rectangle {
  position: absolute;
  background-color: grey;
  width: 128px;
}

.gray-rectangle.top {
  top: 66px;
  right: 41px;
  height: 338px;
}

.gray-rectangle.bottom {
  height: 125px;
  bottom: 34px;
  left: 106px;
}
