* {
  margin: 0;
  padding: 0;
}

@viewport {
  width: 480px;
  zoom: 1;
}

header,
main,
footer,
nav,
aside,
section {
  display: block;
}

#wrapper-LO1 {
  width: 1000px;
  margin: 0px auto;
  position: relative;
  margin: 0px auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
}

.header-LO1 {
  height: 388px;
  background-color: aquamarine;
  position: relative;
}

.LO1-header-left-div {
  width: 27.2%;
}
.LO1-header-right-div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 72.8%;
}

.logo {
  padding-top: 28px;
  margin-left: 26px;
}
.ul-row {
  background-color: pink;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

li a {
  display: block;
  height: 57px;
  line-height: 57px;
  font-size: 24px;
  color: #000000;
}
li a:hover {
  background-color: red;
}

.selected {
  background-color: red;
}
main {
  display: flex;
  background-color: #000000;
}

.main-LO1 {
  height: 491px;
}

main article {
  background-color: aquamarine;
}

.main-LO1-left {
  height: 100%;
  width: 27.2%;
  position: relative;
}

.main-LO1-left article {
  position: absolute;
  top: 24px;
  left: 28px;
  width: 93px;
  height: 33px;
  background-color: aquamarine;
}

.main-LO1-right {
  display: flex;
  position: relative;
  width: 72.8%;
}

.main-LO1-right article {
  margin-top: 31px;
}
.rectangle-2 {
  width: 335px;
  height: 389px;
}

.main-LO1-right .rectangle {
  margin-left: 25px;
}

.rectangle {
  width: 338px;
  height: 338px;
}

footer {
  height: 121px;
  background-color: darkgrey;
  width: 100%;
}

/**********************************************************************************************/
#wrapper-LO2 {
  width: 1400px;
  margin: 0px auto;
  position: relative;
  margin: 0px auto;
}

.header-LO2 {
  height: 192px;
  background-color: #000000;
}

.main-LO2 {
  height: 1687px;
}
.ul-col li a {
  font-size: 30px;
  line-height: 134px;
  height: 134px;
  padding-left: 5px;
}
.main-LO2 nav {
  width: 243px;
  background-color: pink;
}

.main-center-section-LO2 {
  width: 818px;
}

.main-LO2-top {
  display: flex;
}

.main-LO2 {
  height: 1687px;
}

.main-LO2 aside {
  width: 339px;
  height: 100%;
  background-color: pink;
  position: relative;
}

.main-center-section-LO2 .rectangle {
  margin-left: 30px;
}

.main-LO2-bottom {
  margin-top: 120px;
  display: grid;
  grid-template-columns: min-content auto;
}
.rectangle.bottom {
  margin-top: 48px;
}

.right {
  position: relative;
}
.rectangle.right {
  position: absolute;
  top: 53%;
  transform: translate(0, -50%);

  right: 82px;
  /* top: 217px; */
}

.gray-rectangle {
  position: absolute;
  background-color: grey;
  width: 128px;
}

.gray-rectangle.top {
  top: 66px;
  right: 41px;
  height: 338px;
}

.gray-rectangle.bottom {
  height: 125px;
  bottom: 34px;
  left: 106px;
}

/****************************************************************************************/
.header-LO3 {
  display: flex;
  flex-wrap: wrap;
}

.LO3-header-left-box {
  width: 50%;
  height: 500px;
  background-color: #000000;
  position: relative;
}

.LO3-header-right-box {
  width: 50%;
  height: 500px;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
}
.LO3-header-right-box div {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
}

.LO3-header-right-box .R1 {
  opacity: 0.1;
}
.LO3-header-right-box .R2 {
  opacity: 0.25;
}
.LO3-header-right-box .R3 {
  opacity: 0.5;
}
.LO3-header-right-box .R4 {
  opacity: 0.75;
}

.LO3-header-left-box nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.LO3-plus-add-rectangle {
  width: 86px;
  height: 86px;
  /* background-image: url('images/plus.png'); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#main-LO3 {
  min-height: 500px;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

#main-LO3 div{
  width: 25%;
  height: 250px;
  background-color: #000000;
  opacity: 0.3;
}

/****************************************************************************************/
/* responsive layout-3 */
/****************************************************************************************/

@media only screen and (max-width: 600px) {
  #wrapper-LO1 {
    width: 100%;
  }

  .LO3-header-right-box {
    visibility: hidden;
    display: none;
  }

  .LO3-header-left-box {
    width: 100%;
  }

  .logo {
    padding-top: 100px;
    margin-left: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main-LO3 div{
    width: 50%;
    height: 250px;
    background-color: #000000;
    opacity: 0.3;
  }
}
